* {
    box-sizing: border-box;
    color: beige;
}
body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.wrapper {
    height: 600px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    text-align: center;
    padding: 0px;
   
    
} 
h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
    padding-top: 40px;
}
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
}

#wins   {
    margin-bottom: 10px;
    font-size: 20px;
}
 
#losses { 
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;

}
#tries {
    margin-bottom: 20px;
    padding: 30px;
    font-size: 20px;
} 
#selection {
    margin-top: 15px;
    font-size: 24px;
}  